.collapsible {
	border: 2px solid blue;
	border-radius: 5px;
	overflow: hidden;	
	display: none;
	padding: 5px;
}

input {
	display: flex;
	margin: auto;
}

input:disabled {
	color: rgb(124, 110, 108);
}

form {
	text-align:center;
	width: 33%;
	margin: auto;
	border: 2px solid green;
 	border-radius: 5px;
	padding: 10px;
}

.question {
	padding: 5px;
}

.inactive {
	border-radius: 10px;
	display: inline;
	background-color: rgb(165, 162, 157); 
	width: 25%;
	color: white;
	font-weight: bold;
	margin: auto;
}

label {
	display: block;
}
.active {
	border-radius: 10px;
	display: inline;
	background-color: rgb(87, 112, 255); 
	width: 25%;
	color: white;
	font-weight: bold;
	margin: auto;
}